bin/
obj/
_bin/
_obj/
Bin/
Obj/
pkg/

*.log
*.suo
*.coverage
*proj.user
*.pubxml
*.pubxml.user

Thumbs.db
junit.xml

BundleArtifacts
AppPackages
packages
.vs

*/_ReSharper.Caches/
*.sln.DotSettings.user
*.DotSettings.user
*.DotSettings